Project_EA_final/ui flows.json
[{"id":"8eb517f0.042398","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e09b05d1.5b4ec8","type":"serial out","z":"8eb517f0.042398","name":"","serial":"dbdf5e52.97487","x":450,"y":600,"wires":[]},{"id":"2616ad16.d91b42","type":"ui_text_input","z":"8eb517f0.042398","name":"","label":"Latitudine","tooltip":"","group":"328e38d0.9629a8","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"sendLat","x":460,"y":240,"wires":[["8f231b73.a87c98"]],"inputLabels":["lat"],"outputLabels":["lat"]},{"id":"af2090d3.ab962","type":"ui_text_input","z":"8eb517f0.042398","name":"","label":"Longitudine","tooltip":"","group":"328e38d0.9629a8","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"sendLong","x":470,"y":280,"wires":[["f65fd165.6a8eb"]],"inputLabels":["long"],"outputLabels":["long"]},{"id":"27c3f55e.c3545a","type":"ui_button","z":"8eb517f0.042398","name":"","group":"328e38d0.9629a8","order":5,"width":0,"height":0,"passthru":true,"label":"Trimite Longitudinea","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":120,"y":620,"wires":[["4c92f1c7.70919"]]},{"id":"45c2759a.fce65c","type":"serial in","z":"8eb517f0.042398","name":"","serial":"dbdf5e52.97487","x":110,"y":220,"wires":[["330912a2.de3dce","dfc41d52.3ebde"]]},{"id":"330912a2.de3dce","type":"debug","z":"8eb517f0.042398","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":290,"y":180,"wires":[]},{"id":"dfc41d52.3ebde","type":"function","z":"8eb517f0.042398","name":"","func":"var output=msg.payload.split(\";\");\nfor(var i=0; i<9; i++){\n    var newoutput= output[i].split(\"/\");\n    if(newoutput[0]===\"lat\"){\n        var lat = newoutput[1];\n        global.set(\"lat\", lat);\n    } else if(newoutput[0]===\"long\"){\n        var long=newoutput[1];\n        global.set(\"long\", long);\n    }else if(newoutput[0]===\"rasarit\"){\n        var rasarit=newoutput[1];\n    }else if(newoutput[0]===\"apus\"){\n        var apus=newoutput[1];\n    }else if(newoutput[0]===\"azimut\"){\n        var azimut=newoutput[1];\n    }else if(newoutput[0]===\"altitudinea\"){\n        var altitudinea=newoutput[1];\n    }else if(newoutput[0]===\"azimutCurent\"){\n        var azimutCurent=newoutput[1];\n    }else if(newoutput[0]===\"altitudineCurenta\"){\n        var altitudineCurenta=newoutput[1];\n    }else if(newoutput[0]===\"acumulator\"){\n        var acumulator=newoutput[1];\n    }\n}\nreturn [{payload:lat},{payload:long},{payload:rasarit},{payload:apus},{payload:azimut},{payload:altitudinea},{payload:azimutCurent},{payload:altitudineCurenta},{payload:acumulator}];\n","outputs":9,"noerr":0,"x":280,"y":340,"wires":[["2616ad16.d91b42"],["af2090d3.ab962"],["d2185865.6c0c58"],["d1010043.04de8"],["e730a3c8.6cc4"],["e5d053a7.de05c"],["d5c6a3ae.76de7"],["c2f4f596.8bf1f8"],["10050500.885fbb"]]},{"id":"fa97302c.b9fbe","type":"inject","z":"8eb517f0.042398","name":"","topic":"","payload":"","payloadType":"date","repeat":"20","crontab":"","once":true,"onceDelay":"","x":150,"y":80,"wires":[["a63eab07.34eb28","1150e89c.e16aa7"]]},{"id":"1150e89c.e16aa7","type":"debug","z":"8eb517f0.042398","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":380,"y":80,"wires":[]},{"id":"761f8783.6d1fc8","type":"debug","z":"8eb517f0.042398","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":690,"y":160,"wires":[]},{"id":"19d686fe.19de29","type":"ui_text","z":"8eb517f0.042398","group":"328e38d0.9629a8","order":1,"width":0,"height":0,"name":"","label":"Data si Ora","format":"{{msg.payload}}","layout":"col-center","x":690,"y":80,"wires":[]},{"id":"10050500.885fbb","type":"ui_gauge","z":"8eb517f0.042398","name":"","group":"ba88ebc1.3ce1f8","order":0,"width":0,"height":0,"gtype":"donut","title":"Nivelul incarcare","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#b30012","#e6e600","#3acb3e"],"seg1":"","seg2":"","x":480,"y":560,"wires":[]},{"id":"c2f4f596.8bf1f8","type":"ui_gauge","z":"8eb517f0.042398","name":"","group":"4474935b.068e2c","order":2,"width":0,"height":0,"gtype":"gage","title":"Altitudine","label":"Celsius grade","format":"{{value}}","min":"0","max":"360","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":" ","x":460,"y":520,"wires":[]},{"id":"2273cfe1.e23bb","type":"function","z":"8eb517f0.042398","name":"","func":"if(msg.payload===true){\n    return{ payload : \"A\"+global.get(\"lat\")};\n}\n\n    \n","outputs":1,"noerr":0,"x":310,"y":580,"wires":[["e09b05d1.5b4ec8"]]},{"id":"d2185865.6c0c58","type":"ui_text","z":"8eb517f0.042398","group":"328e38d0.9629a8","order":6,"width":0,"height":0,"name":"","label":"Rasaritul","format":"{{msg.payload}}","layout":"row-spread","x":460,"y":320,"wires":[]},{"id":"d1010043.04de8","type":"ui_text","z":"8eb517f0.042398","group":"328e38d0.9629a8","order":8,"width":0,"height":0,"name":"","label":"Apusul","format":"{{msg.payload}}","layout":"row-spread","x":450,"y":360,"wires":[]},{"id":"e730a3c8.6cc4","type":"ui_text","z":"8eb517f0.042398","group":"328e38d0.9629a8","order":7,"width":0,"height":0,"name":"","label":"Valoarea Azimutului","format":"{{msg.payload}}","layout":"row-spread","x":490,"y":400,"wires":[]},{"id":"e5d053a7.de05c","type":"ui_text","z":"8eb517f0.042398","group":"328e38d0.9629a8","order":9,"width":0,"height":0,"name":"","label":"Altitudinea","format":"{{msg.payload}}","layout":"row-spread","x":470,"y":440,"wires":[]},{"id":"d5c6a3ae.76de7","type":"ui_gauge","z":"8eb517f0.042398","name":"","group":"4474935b.068e2c","order":1,"width":0,"height":0,"gtype":"compass","title":"Azimut","label":"Celsius grade","format":"{{value}}","min":"0","max":"360","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":" ","x":450,"y":480,"wires":[]},{"id":"f65fbbda.c69e58","type":"ui_button","z":"8eb517f0.042398","name":"","group":"328e38d0.9629a8","order":3,"width":0,"height":0,"passthru":true,"label":"Trimite Latitudinea","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":110,"y":580,"wires":[["2273cfe1.e23bb"]]},{"id":"a63eab07.34eb28","type":"moment","z":"8eb517f0.042398","name":"-> Romania, DD.MM.YYYY HH:mm","topic":"","input":"payload","inputType":"msg","inTz":"Europe/Romania","adjAmount":"2","adjType":"hours","adjDir":"add","format":"DD.MM.YYYY HH:mm","locale":"ro_RO.UTF-8","output":"payload","outputType":"msg","outTz":"Europe/Romania","x":393,"y":140,"wires":[["761f8783.6d1fc8","19d686fe.19de29"]]},{"id":"4c92f1c7.70919","type":"function","z":"8eb517f0.042398","name":"","func":"if(msg.payload === true){\n    return{ payload : \"B\"+global.get(\"long\")};\n}\n\n    \n","outputs":1,"noerr":0,"x":310,"y":620,"wires":[["e09b05d1.5b4ec8"]]},{"id":"8f231b73.a87c98","type":"function","z":"8eb517f0.042398","name":"","func":"if(msg.topic===\"sendLat\"){\n    global.set(\"lat\", msg.payload);\n}\n","outputs":1,"noerr":0,"x":630,"y":240,"wires":[[]]},{"id":"f65fd165.6a8eb","type":"function","z":"8eb517f0.042398","name":"","func":"if(msg.topic===\"sendLong\"){\n    global.set(\"long\", msg.payload);\n}","outputs":1,"noerr":0,"x":630,"y":280,"wires":[[]]},{"id":"dbdf5e52.97487","type":"serial-port","z":"","serialport":"COM5","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"328e38d0.9629a8","type":"ui_group","name":"Informatii Generale","tab":"4c726675.c57aa8","order":1,"disp":true,"width":"6","collapse":false},{"id":"ba88ebc1.3ce1f8","type":"ui_group","z":"","name":"Date acumulator","tab":"4c726675.c57aa8","order":5,"disp":true,"width":"6","collapse":false},{"id":"4474935b.068e2c","type":"ui_group","name":"Informatii ale trackerului","tab":"4c726675.c57aa8","order":3,"disp":true,"width":"6","collapse":false},{"id":"4c726675.c57aa8","type":"ui_tab","name":"Solar Tracker","icon":"dashboard","disabled":false,"hidden":false}]